apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq-config
  labels:
    app: rabbitmq
data:
  RABBITMQ_DEFAULT_USER: {{ .Values.RabbitMQUser | quote }}
  RABBITMQ_DEFAULT_PASS: {{ .Values.RabbitMQPassword | quote }}
